@model ForumForCreationViewModel
@{
    ViewBag.Title = "Create New Forum";
}

<div class="col-12">
    <div class="card p-5">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="form-data">
                <h2 class="form-title">Create New Forum</h2>

                <input type="text" class="form-control" placeholder="Type the title here" asp-for="Name" />
                <textarea class="form-control editor" placeholder="Type the description here"
                    asp-for="Description"></textarea>

                <div class="image-upload mt-3">
                    <input type="file" name="file" id="file" class="inputfile" accept="image/png, image/jpeg"
                        asp-for="ForumImageUri" />
                    <label for="file">
                        <span></span>
                        <strong>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                <path
                                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                            </svg>
                            Upload Forum Image
                        </strong>
                    </label>
                </div>
            </div>
            <div class="form-action">
                <button type="submit" class="btn btn-md btn-success">Create Forum</button>
            </div>
        </form>
    </div>
</div>

@section EditorScripts {
    @{await Html.RenderPartialAsync("_EditorScriptsPartial");}
}
