@model ForumViewModel
@{
    ViewBag.Title = "Delete Forum";
    ViewData["Mode"] = "ConfirmingDelete";
}
<h2 class="text-warning">Warning: All topics in this forum will be also deleted!</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="id" />
    <input type="hidden" asp-for="ForumImageUri">
    <partial name="_ForumDetail" model="Model"/>
</form>
