@model PasswordResetViewModel

<div class="login-panel">
  <div class="row justify-content-md-center align-items-center h-100">
    <div class="card-wrapper">
      <div class="card fat">
        <div class="card-body">
          <h4 class="card-title">Reset Password</h4>
          <form method="POST" class="my-login-validation" novalidate="">
            <div class="form-group">
              <label asp-for="Password" class="control-label"></label>
              <input asp-for="Password" class="form-control" />
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="ConfirmPassword" class="control-label"></label>
              <input asp-for="ConfirmPassword" class="form-control" />
              <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
              <div class="form-text text-muted">
                Make sure your password is strong and easy to remember
              </div>
            </div>

            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />

            <div class="form-group m-0">
              <button type="submit" class="btn btn-primary btn-block">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section ValidationScripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}