@model MessageViewModel

@{
  ViewBag.Title = "New Message";
}

<div class="row">
  <div class="col-12">
    <div class="card p-4">
      <form asp-action="Create" method="post">
        <input type="hidden" asp-for="ToUserId" />
        <div class="form-data">
          <h2 class="form-title">
            Sending message to:
            <a asp-controller="User" asp-action="Detail" asp-route-username="@Model.ToUserName">@Model.ToUserName</a>
          </h2>
          <input type="text" class="form-control" placeholder="Type the title here" asp-for="Title" />
          <textarea class="form-control editor" placeholder="Type your message here" asp-for="Content"></textarea>
        </div>
        <div class="form-action">
          <button type="submit" class="btn btn-md btn-success">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>

@section EditorScripts {
    @{await Html.RenderPartialAsync("_EditorScriptsPartial");}
}